@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400&display=swap");

.App {
  width: 80vw;
  max-width: 100vw; /* Ensures that the element's total width doesn't exceed the viewport width */
  margin: 15vh auto;
  padding: 20px; /* Padding inside the element */
  box-sizing: border-box; /* Includes padding and border in the element's total width */
  border: 2px solid #ffffff;
  height: 70vh;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  border: 2px solid red;
}

.canvas {
  flex: 0 0 70%;
}

.configurator {
  flex: 0 0 30%;
  padding: 3%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.configurator__section {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.configurator__section__title {
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  color: white;
}

.configurator__section__values {
  display: flex;
  flex-direction: row;
  height: 100px;
  width: 100px;
  gap: 32px;
  align-items: center;
  flex-wrap: wrap;
  padding: 16px 0;
}

.item {
  border-radius: 50%;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  align-items: center;
  transition: opacity 0.4s;
}

.item img {
  height: 100%; /* Makes image fill the circle */
  width: 100%; /* Makes image fill the circle */
  object-fit: cover; /* Ensures image covers the area without distortion */
}

.item:hover {
  cursor: pointer;
  opacity: 0.1;
}

.item.item--active {
  border: solid 2px red;
  border-radius: 50%;
}
